node_modules/
.idea/workspace.xml
app/bower_components/
.idea/demo.iml
.idea/jsLibraryMappings.xml
.idea/libraries/demo_node_modules.xml
.idea/modules.xml
.idea/vcs.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
/.idea/
.idea/Creative-Dashboard.iml
.idea/compiler.xml
.idea/copyright/
.idea/markdown-navigator/
.idea/misc.xml
app/.idea/
package-lock.json
