body{
    background: #676262
}
/*BEGIN LOADING PANEL*/
.loadingbg {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #000;
    filter: alpha(opacity=60);
    opacity: 0.1;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    z-index: 100000;
}

.loadingContent {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100001;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
}
.loadingContent i{
    font-size: 50px;
    color: #c1272d
}
/*END LOADING PANEL*/

.error-msg{
  font-size: 14px;
  font-weight: 500;
  color: red;
}