<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="images/logo.png" alt="logo" class="logo-default" style="padding: 10px">
    </div>
    <ul class="nav navbar-nav">
      <li ng-class="{'active': isActive === 'home'}"><a title="home" ng-click='clickHomeMenu();'>Home</a></li>
      <li ng-class="{'active': isActive === 'upload'}"><a title="upload" ng-click='clickUploadMenu();'>Upload</a></li>
      <li ng-class="{'active': isActive === 'order'}"><a title="order" href="#" ng-click='clickOrderMenu();'>Order</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a title="cart"><span class="fa fa-shopping-cart" style="font-size: 20px;"></span></a></li>
      <li><a title="log out" ng-click='logOut();'><span class="fa fa-sign-out"></span> Log out</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
   <div ui-view></div>
</div>