<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
    		<div class="panel-heading">
    		  <b>Upload Files</b>
    	    </div>
    		<div class="panel-body">
    			<p>Select file from your computer</p>
    			<div class="col-md-4 col-sm-12">
				  <input id='dxfFileUpload1' type="file" class="form-control" accept=".dxf" name="fileUpload" 
				         ng-model="uploadFile" onchange="angular.element(this).scope().changeUplaodFile(this.files)">
				</div>
				<div class="col-md-4 col-sm-12">
				  <button type="button" class="btn btn-primary" ng-click='uploadFile();'>Upload file</button>
				</div>
    	    </div>
  		</div>
	</div>
	<div class="col-md-12" ng-if='userUplaodedFiles.length > 0'>
		<div class="panel panel-default">
    		<div class="panel-heading">
    		  <b>Uploaded Parts:</b>
    	    </div>
    		<div class="panel-body">
    		   <div ng-repeat = 'file in userUplaodedFiles' class='file-list col-md-12'>
                 <div class="file-name col-md-6 col-sm-6">
                     {{file.fileName}}
                 </div>
                 <div class="col-md-6 col-sm-6 text-right">
                     <button type="button" class="btn btn-success" ng-click='addToCart(file.id)'>Add to cart</button>
                 </div>
               </div>
    	    </div>
  		</div>
	</div>
</div>